.feature {
	text-align: center;
	padding-top: 2rem;
	background-color: #31373d;

	.title {
		text-align: center;
		font-family: Raleway, sans-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 36px;
		line-height: 48px;
		padding-bottom: 20px;
	}

	@include breakpoint-up(medium) {
		text-align: left;
	}

	&__intro {
		margin-bottom: 3.75rem;

		@include breakpoint-up(large) {
			width: 15%;
		}
	}

	&__grid {
		@include breakpoint-up(medium) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		@include breakpoint-up(medium) {
			flex: 0 0 50%;
		}

		@include breakpoint-up(large) {
			flex: 1;
		}
	}

	&__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;

		@include breakpoint-up(large) {
			margin-bottom: 2.75rem;
		}
	}
}
