#navigation {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    a {
        text-decoration: none;
        color: white;
        font-size: 30px ;
        z-index: 2;
   

        &:not(:first-child){
            margin-left: 2rem;
        }
        

        &:hover {
            color: darkred;
        }
    }
 

}